body {
    text-align: center;
    background-color: #90e563;
}

div {
    text-align: left;
    margin: 0 auto;
    width: 800px;
    margin-bottom: 50px;
}

img {
    
    width: 500px;
}

ul {
    list-style: none;
    margin-bottom: 50px
}

li {
   display: inline-block
}

a {
    text-decoration: none;
    background-color: black;
    color: #fff;
    padding: 10px;
    border-radius: 50px;
}

a:hover {
   color: aqua; 
}

.center {
    text-align: center;
    margin-top: 40px;
}